{% extends "base.html" %}
{% load static %} 

    {% block title %}Virtual-Broker{% endblock title %}


{% block body %}

    {% csrf_token %}
    <div class="box-main" >
        <div class="content-contact">
            <h1 class="heading">
                Name: <span>Virtual Broker</span>
            </h1>
             <h1 class="heading">

                 Contact: <span>8147645313</span>
             </h1>   
             <h1 class="heading">
                 Email:<span> 1virtualbroker@gmail.com</span>

             </h1>
        </div>
    </div>

   
    
{% endblock body %}