{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/s1.css' %}">
    <title>virtual-broker</title>
</head>

<body>
  
    <nav class="navbar ">
        <ul>
            <div class="logo"><img src="{% static 'images/Door_key.jpeg' %}"></div>
            <!--<img src="images/Door_key.jpeg" alt="logo"></div>-->
            <li><a href="/home"> Home </a></li>
            <li><a href="/fill1">PG Owner </a></li>
            <li><a href="/fill2"> Mess Owner </a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/contact"> Contact </a></li>
            <li><a href="/login"> Login</a></li>
        </ul>
    </nav>
    <div class="box-main background-fill">
        <form action="/fill" method="post">
            {% csrf_token %}
        <div class="details">
            <h1>Enter The Following Details:</h1>
            <div class="detail-list ">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your Name">
            </div>
               <div class="detail-list">
                <label for="city" >City</label>
                <select name="city" id="city">
                        <option value="Belgaum">Belgaum</option>
                        <option value="Raibag">Raibag</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Mysore">Mysore</option>
                        <option value="Gadag">Gadag</option>
                </select>
            </div>
                <div class="detail-list">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" placeholder="Your Address">
            </div>
                <div class="detail-list">
                <label for="contact">Contact</label>
                <input type="text" id="contact" name="contact" placeholder="Your Contact Number">
            </div>
                <div class="detail-list">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" placeholder="Price">
            </div>

            <div class="submit-button">
                <button type="submit" class="btn">Submit</button>
               
            </div>
        </div>
        </form>
    </div>
 
    
</body>

</html>